<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Dojo Message Board</title>
    </head>
    <body>
        <h1>The Dojo Message Board</h1>

        <form action="/post" method="post">
            Name: <br>
            <input type="text" name="name"><br>
            Message: <br>
            <textarea name="message" id="message" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Post Message">
        </form><br>

    <h4>
        <% for (var x in posts){ %>
            <br>Name: <%= posts[x].name %><br>
             <%= posts[x].message %><br>
            _____________________________________________<br>
            <p>
            <% for(let comment of posts[x]._comments) { %>
                <br><%= comment.comment %><br>
                - <%= comment.name %><br>
            <% } %>
            </p>
        <p>
            <form action="/comment/<%=posts[x]._id %>" method="post">
                Name: <br>
                <input type="text" name="name"><br>
                Comment: <br>
                <textarea name="comment" id="message" cols="30" rows="5"></textarea><br>
                <input type="submit" value="Post Message">
            </form>
        </p>
            ************************************************<br>
        <% } %>
    </h4>

    </body>
</html>
